:root {
  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 12px;
  --spacing-300: 16px;
  --spacing-400: 24px;
  --spacing-500: 32px;
  --spacing-600: 48px;
  --spacing-700: 64px;
  --spacing-800: 96px;
  --spacing-900: 128px;
  --spacing-950: 192px;

  --font-50: 12px;
  --font-100: 14px;
  --font-200: 16px;
  --font-300: 18px;
  --font-400: 20px;
  --font-500: 24px;
  --font-600: 30px;
  --font-700: 36px;
  --font-800: 48px;
  --font-900: 60px;
  --font-950: 72px;

  --line-height: 1.5;
  --heading-line-height: 1.25;
  --radius: 6px;

  --heading-font: "Barlow", sans-serif;
  --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --tenmiles-50: #effaf5;
  --tenmiles-100: #d8f3e5;
  --tenmiles-200: #b4e6d0;
  --tenmiles-300: #82d3b4;
  --tenmiles-400: #68c3a3;
  --tenmiles-500: #2c9d79;
  --tenmiles-600: #1d7e61;
  --tenmiles-700: #176550;
  --tenmiles-800: #155041;
  --tenmiles-900: #124236;
  --tenmiles-950: #09251e;

  --dark-50: #f6f6f6;
  --dark-100: #e7e7e7;
  --dark-200: #d1d1d1;
  --dark-300: #b0b0b0;
  --dark-400: #888888;
  --dark-500: #6d6d6d;
  --dark-600: #5d5d5d;
  --dark-700: #4f4f4f;
  --dark-800: #454545;
  --dark-900: #333333;
  --dark-950: #262626;

  --white: white;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
