---
import Map from "../components/Map.jsx";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout
  title="Info"
  description="Op zaterdag 23 september 2023 organiseert LC De Stresskikkers de eerste editie van de Ten Miles loopwedstrijd van Elverdinge! Om 16u starten we met een 10 miles (16 km) of 8 km fun race in en rondom Elverdinge. Na afloop is er aansluitend maaltijd en Oktoberfest."
>
  <main id="map">
    <Map client:only="react" />
  </main>
  <legend>
    <ul>
      <li>
        <Icon name="square" pack="ion" style="color: #fb778fcc" /> Ten Miles
      </li>
      <li><Icon name="square" pack="ion" style="color: #fef160cc" /> 8 km</li>
      <li>
        <Icon name="flag-ltr" pack="ooui" style="color:var(--violet-border)" /> Seingever
      </li>
      <li>
        <Icon
          name="fence-two"
          pack="icon-park-outline"
          style="color:var(--dark)"
        /> Nadar
      </li>
      <li>
        <Icon name="man-police-officer" pack="noto-v1" />
        Politie
      </li>
    </ul>
  </legend>
</Layout>
<style is:global>
  #map {
    height: 100%;
    width: 100%;
    max-width: initial;
    margin: 0;
    padding: 0;
  }

  #map-container {
    height: 100%;
    width: 100%;
  }

  legend {
    position: fixed;
    bottom: var(--unit-3);
    right: var(--unit);
    background-color: white;
    z-index: 10;
    padding: var(--radius);
    border-radius: var(--radius);
    font-family: var(--heading-font);
  }

  legend ul {
    margin: 0;
    padding: 0 var(--unit);
    list-style: none;
  }

  legend ul li {
    display: flex;
    align-content: center;
    margin: calc(var(--unit) / 4) 0;
  }

  legend ul li svg {
    width: var(--unit);
    margin-right: calc(var(--unit) / 2);
  }
</style>
