---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Betaling geannuleerd">
  <main>
    <h1>Betaling geannuleerd!</h1>
    <p>
      Ai, dat is jammer. Je betaling is geannuleerd.<br />Je kunt het <a
        href="/tickets">nogmaals proberen</a
      >.
    </p>
  </main>
</Layout>
<style>
  h1 {
    display: inline-block;
    background-color: var(--grey);
    padding: var(--unit);
    border-radius: var(--radius);
    margin-bottom: var(--unit-2);
  }
</style>
