---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Home"
  description="Op zaterdag 28 september 2024 organiseert LC De Stresskikkers de tweede editie van de Ten Miles loopwedstrijd van Elverdinge! Om 16u starten we met een 10 miles (16 km) of 8 km fun race in en rondom Elverdinge. Na afloop is er aansluitend maaltijd en Oktoberfest."
>
  <main>
    <small>Loopclub de Stresskikkers<br/>presenteert</small>
    <h1>de Ten Miles van Elverdinge</h1>
    <h2>
      <time>28/09/2024</time>
    </h2>
    <h3>Met aansluitend Oktoberfest!</h3>
    <!--<a id="cta" href="/tickets">-->
    <!--  <button> Bestel hier tickets!</button>-->
    <!--</a>-->
  </main>
</Layout>
<style>
  main {
    margin: 0;
    padding: 0;
    max-width: initial;
    background-color: var(--tenmiles-500);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  small {
    color: var(--tenmiles-100);
    text-align: center;
    font-size: var(--font-200);
  }

  h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  h1, h2 {
    font-size: var(--font-600);
  }
  
  h1 {
    margin-block: var(--spacing-400);
  }
  
  h3 {
    font-size: var(--font-300);
    margin-top: var(--spacing-200);
    color: var(--white);
  }

  @media screen and (min-width: 400px) {
    h1,
    h2 {
      font-size: var(--font-800);
    }
  }

  @media screen and (min-width: 768px) {
    h1 {
      font-size: var(--font-950);
    }

    h2 {
      font-size: var(--font-900);
    }

    h3 {
      margin-top: var(--spacing-400);
      font-size: var(--font-700);
    }
  }
  
  #cta {
    margin: var(--unit-4) 0;
  }

  #cta button {
    font-size: var(--unit-2);
    padding: var(--font-200);
    color: var(--white);
    background-color: var(--dark);
    border-color: var(--dark-border);
  }

  #cta button:hover,
  #cta button:focus {
    background-color: var(--dark-hover);
  }
</style>
