---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Info"
  description="Op zaterdag 23 september 2023 organiseert LC De Stresskikkers de eerste editie van de Ten Miles loopwedstrijd van Elverdinge! Om 16u starten we met een 10 miles (16 km) of 8 km fun race in en rondom Elverdinge. Na afloop is er aansluitend maaltijd en Oktoberfest."
>
  <main>
    <h1>Info</h1>
    <h2>Algemeen schema</h2>
    <div id="schedule">
      <div class="slot">
        <time>14:00</time>
        <h3>Start Kids run</h3>
        <img src="/KidsRun.jpg" alt="Kids run" />
        <p>Kids run van 4 tot 12 jaar!</p>
        <div style="display: none">
          Photo by <a
            href="https://unsplash.com/@timmossholder?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Tim Mossholder</a
          > on <a
            href="https://unsplash.com/photos/elXAqki7yA4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            >Unsplash</a
          >
        </div>
      </div>
      <div class="slot">
        <time>16:00</time>
        <h3>Start loopwedstrijd</h3>
        <img src="/Race.png" alt="Loopwedstrijd" />
        <p>Start loopwedstrijd 16km en 8km.</p>
      </div>
      <div class="slot">
        <time>19:00</time>
        <h3>Start maaltijd</h3>
        <div id="food">
          <img src="/Schnitzel.jpg" alt="Schnitzel" />
          <img src="/Tartiflette.jpg" alt="Tartiflette" />
        </div>
        <p>Heerlijke Schnitzel of Tartiflette.</p>
      </div>
      <div class="slot">
        <time>22:00</time>
        <h3>Start Oktoberfest</h3>
        <img src="/Oktoberfest.jpg" alt="Oktoberfest in OC Den Elver" />
        <p>Ein Prosit!</p>
      </div>
      <div id="timeline"></div>
    </div>
    <p>
      Op
      <time>zaterdag 23 september 2023</time>
      organiseren wij met <a
        href="https://lcdestresskikkers.be/"
        target="_blank">LC de Stresskikkers</a
      > onze eerste editie van de <strong>Ten Miles</strong> fun run!
    </p>
    <p>
      We starten om <time>14:00</time> met de <strong>Kids run</strong> voor alle
      jonge atleten van 4 tot 12 jaar oud!
    </p>
    <p>Leeftijdscategorieën en afstanden:</p>
    <ul>
      <li>4 tot 6 jaar: 200 meter</li>
      <li>6 tot 8 jaar: 400 meter</li>
      <li>8 tot 10 jaar: 800 meter</li>
      <li>10 tot 12 jaar: 1200 meter</li>
    </ul>
    <p>
      Inschrijven voor de Kids Run gebeurt op de dag zelf voor slechts 1 euro!
      Na afloop krijgt elke deelnemer een beloning. Mis het niet! 🏅🎉🏁
    </p>
    <p>
      Om <strong>
        <time>16:00u</time>
      </strong> gaan we van start met de loopwedstrijd aan <a
        href="https://www.google.com/maps?ll=50.881013,2.815671&z=17&t=m&hl=nl&gl=US&mapclient=embed&q=50%C2%B052%2751.6%22N+2%C2%B048%2756.4%22E+50.880994,+2.815664@50.880994,2.815664"
        target="_blank">OC Den Elver</a
      >.
    </p>
    <p>
      Deelnemers kunnen zich wagen aan de enige echte <strong
        >Ten miles (16km)</strong
      > of het even <em>stoere 8km</em> parkoers.
    </p>
    <p>
      ⚠️ Ook <em>wandelaars hebben de mogelijkheid</em> om mee te doen aan de <em
        >8 km</em
      >! ⚠️
    </p>
    <p>
      Na afloop van de wedstrijd kunnen de deelnemers zich opfrissen (lees:
      douchen) en starten we aansluitend met onze maaltijd en Oktoberfest.
    </p>
    <p>
      Tot in de vroege uurtjes genieten we van heerlijke halve liters gerstenat,
      Duitse hits en veel ambiance!
    </p>
    <p>
      <a href="/tickets" id="cta">
        <button class="primary"> Bestel tickets!</button>
      </a>
    </p>
  </main>
</Layout>
<style>
  #schedule {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }

  #timeline {
    display: none;
  }

  #schedule .slot {
    display: flex;
    flex-direction: column;
  }

  #schedule .slot time {
    background-color: var(--primary);
    line-height: 1.5;
    font-size: calc(var(--unit-2) / 1.2);
    text-transform: uppercase;
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--white);
    text-align: center;
    display: block;
  }

  #schedule .slot h3 {
    text-align: center;
    padding: var(--unit) 0;
  }

  #schedule .slot p {
    text-align: center;
  }

  img {
    width: 80%;
    object-fit: cover;
    align-self: center;
  }

  #food {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  #food img {
    flex: 1;
    flex-basis: 0;
    width: initial;
    max-width: calc(50% - var(--unit-2));
    height: auto;
  }

  h3 {
    font-family: var(--heading-font);
    text-transform: uppercase;
    margin: 0;
  }

  @media screen and (min-width: 960px) {
    #schedule {
      margin: var(--unit-3) auto;
      display: grid;
      grid-template-columns: 1fr auto 1fr; /* Three columns */
      grid-column-gap: calc(var(--unit) / 2);
    }

    #timeline {
      background-color: var(--primary);
      width: 1px;
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 5;
      justify-self: center;
      display: block;
    }

    #schedule .slot {
      grid-row: auto;
    }

    #schedule .slot:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    #schedule .slot:nth-child(2) {
      grid-column: 3;
      grid-row: 2;
    }

    #schedule .slot:nth-child(3) {
      grid-column: 1;
      grid-row: 3;
    }

    #schedule .slot:nth-child(4) {
      grid-column: 3;
      grid-row: 4;
    }
  }

  @media screen and (min-width: 1200px) {
    #schedule {
      margin: var(--unit-3) auto;
      max-width: 1200px;
    }
  }

  #cta {
    display: block;
    text-align: center;
  }

  #cta button {
    text-transform: uppercase;
    font-size: var(--unit-2);
    padding: var(--unit);
    margin: var(--unit-4) 0;
  }
</style>
