---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Betaling gelukt">
  <main>
    <h1>Betaling gelukt!</h1>
    <p>
      Bedankt voor je bestelling! <br />Je ontvangt een bevestiging per e-mail
      van <em>info@tenmileselverdinge.be</em>
    </p>
    <p>
      Kijk zeker even in je spam folder. Naarmate het evenement nadert, zullen
      we je via e-mail op de hoogte houden.
    </p>
  </main>
</Layout>
<style>
  h1 {
    display: inline-block;
    background-color: var(--primary);
    padding: var(--unit);
    border-radius: var(--radius);
    margin-bottom: var(--unit-2);
  }
</style>
