---
import { Icon } from "astro-iconify";
import Layout from "../layouts/Layout.astro";
import TicketForm from "../components/TicketForm.jsx";
---

<Layout title="Tickets">
  <main>
    <h1>Bestel tickets!</h1>
    <p>
      Via onderstaand formulier kan je zowel tickets bestellen voor de
      loopwedstrijd als de maaltijd.
    </p>
    <p>Voor de maaltijd is er keuze tussen:</p>
    <ul id="food">
      <li>
        <img alt="Schnitzel" src="/Schnitzel-placeholder.png" /><strong
          >Schnitzel</strong>
      </li>
      <li>
        <img alt="Tartiflette" src="/Tartiflette-placeholder.png" /><strong
          >Tartiflette</strong>
      </li>
    </ul>
    <p id="alert-extra-info-tickets">
      <Icon class="description-icon" pack="grommet-icons" name="alert" /> Per loper
      hebben we <em>extra informatie per loper nodig voor de verzekering</em>.
    </p>
    <p>
      Het is ook mogelijk om enkel deel te nemen aan de loopwedstrijd. Geniet
      van een kleine korting wanneer je zowel komt lopen als eten!
    </p>
    <div class="loading" id="dom-loader">
      <div></div>
    </div>
    <TicketForm client:only="react" />
  </main>
</Layout>
<style is:global>
  #food {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #food li {
    flex: 1;
    margin-right: calc(var(--unit) / 3);
  }

  #food li strong {
    text-align: center;
    display: block;
  }

  #food li:last-child {
    margin-right: 0;
    margin-left: calc(var(--unit) / 3);
  }

  #food li img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  @media screen and (min-width: 960px) {
    #food {
      justify-content: space-around;
    }
    #food li {
      flex: initial;
      margin: 0;
    }
    #food li img {
      max-width: 320px;
    }
  }

  .description-icon {
    width: calc(var(--unit) * 1.5);
    transform: translateY(5px);
    color: var(--warning);
    margin-right: calc(var(--unit) / 4);
  }

  #alert-extra-info-tickets {
    background-color: var(--grey);
    padding: var(--unit);
    border-radius: var(--radius);
    font-family: var(--heading-font);
    line-height: 1.5;
  }

  #ticket-form {
    margin-top: calc(2 * var(--unit-4));
  }

  header {
    display: flex;
  }

  header #add-ticket,
  header summary {
    flex: 1;
  }

  summary {
    display: block;
  }

  #add-ticket {
    position: relative;
  }

  #add-ticket button {
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: calc(var(--unit-4) / 3);
  }

  #add-ticket button svg {
    width: 2rem;
    height: 2rem;
    margin-left: calc(var(--unit) / 2);
  }

  #add-ticket .items {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
  }

  #add-ticket .items a {
    display: flex;
    text-decoration: none;
    border: 1px solid var(--primary-border);
    border-top: none;
    padding: calc(var(--unit) / 2);
    background-color: var(--primary);
    color: var(--dark);
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }

  #add-ticket .items a:hover {
    background-color: var(--primary-hover);
  }

  #add-ticket .items a:focus {
    background-color: var(--dark);
    color: var(--white);
  }

  #add-ticket .items a:last-child {
    margin-bottom: var(--unit-3);
  }

  summary {
    border-bottom: 1px solid var(--dark-border);
    border-top: 1px solid var(--dark-border);
    padding: calc(var(--unit) / 2);
    margin: var(--unit) 0;
  }

  summary h4 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    line-height: 1.5;
  }

  summary ul {
    list-style-type: square;
    margin: calc(var(--unit) / 2) 0;
    padding-left: var(--unit);
  }

  #ticket-form strong {
    background-color: var(--dark);
    color: var(--white);
    padding: calc(var(--unit) / 4) calc(var(--unit) / 2);
    border-radius: var(--radius);
    display: inline-block;
    margin-left: var(--unit);
    line-height: 2;
    white-space: nowrap;
    user-select: none;
  }

  #ticket-form strong.toggle {
    background-color: var(--grey);
    color: var(--dark);
    cursor: pointer;
  }

  #ticket-form strong.toggle:hover {
    background-color: var(--grey-hover);
  }

  #ticket-form strong.toggle svg {
    transform: translateY(3px);
  }

  .ticket {
    border: 1px solid var(--primary);
    margin: var(--unit) 0;
    padding: calc(var(--unit) / 3);
    border-radius: var(--radius);
    background-color: var(--light-primary);
  }

  .ticket .heading {
    padding: calc(var(--unit) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ticket .heading h3 {
    padding: 0;
    margin: 0 calc(var(--unit) / 2);
    font-size: var(--unit);
    text-transform: uppercase;
    flex: 1;
  }

  .ticket .heading div {
    display: flex;
  }

  #ticket-form .ticket .heading strong.delete {
    background-color: var(--danger);
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  #ticket-form .ticket .heading strong.delete:hover,
  #ticket-form .ticket .heading strong.delete:focus {
    background-color: var(--danger-hover);
  }

  #ticket-form .ticket .heading strong.plus,
  #ticket-form .ticket .heading strong.minus {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: calc(var(--unit) / 2);
  }

  #ticket-form .ticket .heading strong.plus {
    background-color: var(--success);
  }

  #ticket-form .ticket .heading strong.plus:hover,
  #ticket-form .ticket .heading strong.plus:focus {
    background-color: var(--success-hover);
    color: var(--dark);
  }

  #ticket-form .ticket .heading strong.minus {
    background-color: var(--danger);
  }

  #ticket-form .ticket .heading strong.minus:hover,
  #ticket-form .ticket .heading strong.minus:focus {
    background-color: var(--danger-hover);
    color: var(--dark);
  }

  .ticket .heading strong.delete svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .ticket .body {
    border-top: 1px solid var(--trans-dark);
    margin-top: calc(var(--unit) / 2);
    padding-top: calc(var(--unit) / 2);
  }

  .ticket .body > div {
    padding: calc(var(--unit) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey);
  }

  .ticket .body > div:last-child {
    border-bottom: none;
  }

  .ticket .body label {
    flex: 1;
  }

  .ticket .body label.required:after {
    content: "*";
    color: var(--dark);
    font-weight: 600;
    font-family: var(--heading-font);
    font-size: calc(var(--unit-3) / 2);
    display: inline-block;
    margin-left: 2px;
  }

  .ticket .body input {
    flex: 1;
    border-radius: 4px;
    border: 2px solid var(--grey);
    font-size: var(--unit);
    padding: calc(var(--unit) / 2) calc(var(--unit) / 3);
    box-sizing: border-box;
  }

  .ticket .body .radio-container {
    flex: 1;
    display: flex;
    border: 1px solid var(--primary);
  }

  .ticket .body .radio-container label {
    flex: 1;
    min-width: auto;
  }

  .ticket .body input[type="radio"] {
    position: fixed;
    top: -200vh;
  }

  .ticket .body input[type="radio"] + label {
    box-sizing: border-box;
    border: 1px solid var(--primary);
    display: inline-block;
    font-family: var(--heading-font);
    padding: calc(var(--unit) / 2) var(--unit);
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    cursor: pointer;
  }

  .ticket .body input[type="radio"] + label:hover {
    background-color: var(--primary-hover);
  }

  .ticket .body input[type="radio"]:checked + label {
    background-color: var(--primary);
  }

  input[type="submit"] {
    display: block;
    float: right;
    text-transform: uppercase;
    font-size: calc(var(--unit-3) / 2);
    padding: var(--unit);
  }

  .loading {
    margin-top: var(--unit-4);
  }

  #error {
    background-color: var(--danger-hover);
    padding: var(--unit);
    color: var(--white);
    margin-top: var(--unit-4);
  }

  #error h2 {
    margin: 0;
  }

  #error a {
    color: var(--dark);
  }

  #turnstile-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #turnstile-wrapper em {
    margin-right: calc(var(--unit) / 2);
  }

  @media screen and (min-width: 960px) {
    #ticket-form {
      display: flex;
      flex-direction: row-reverse;
    }

    #ticket-form form {
      flex: 1;
    }

    #ticket-form summary {
      margin-top: 0;
      margin-left: var(--unit);
      margin-bottom: 0;
      padding-left: var(--unit);
      padding-bottom: 0;
      padding-top: 0;
      border: none;
      border-left: 1px solid var(--dark-border);
      align-self: flex-start;
      position: sticky;
      top: var(--unit);
    }

    #ticket-form summary ul {
      margin: 0;
    }
  }
</style>
