---
import "../styles/style.css"
import { Icon } from "astro-icon/components";
const { title, description } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.replaceAll("/", "");
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta
      name="keywords"
      content="loopwedstrijd, Elverdinge, Stresskikkers, kikkers, ten, miles, oktoberfest, drino, schnitzel, tartiflette, race, lopen"
    />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="Loopclub de Stresskikkers Elverdinge" />
    <meta name="robots" content="noarchive" />
    <meta name="revisit-after" content="7 days" />
    <meta name="og:title" content={`${title} | Ten miles Elverdinge`} />
    <title>{title} | Ten miles Elverdinge</title>
    <link rel="icon" href="/favicon.ico?v2" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--<nav>-->
      <!--<a href="/" class={currentPath === "" ? "active" : ""}> Home</a>-->
      <!--<a href="/info" class={currentPath === "info" ? "active" : ""}>Info</a>-->
      <!--<button>-->
      <!--  <Icon id="mobile-toggle" pack="codicon" name="three-bars" />-->
      <!--</button>-->
      <!--<a href="/tickets" class={currentPath === "tickets" ? "active" : ""}-->
      <!--  >Tickets</a-->
      <!--&gt;-->
      <!--<a href="/trail" class={currentPath === "trail" ? "active" : ""}-->
      <!--  >Parcours</a-->
      <!--&gt;-->
      <!--<a href="/results" class={currentPath === "results" ? "active" : ""}>-->
      <!--  Resultaten-->
      <!--</a>-->
      <!--<a href="#">Sponsors</a>-->
    <!--</nav>-->
    <slot />
  </body>
</html>
<!--<script>-->
<!--  const btn = document.querySelector("nav > button");-->
<!--  if (btn) {-->
<!--    const nav = document.querySelector("nav");-->
<!--    btn.addEventListener("click", () => {-->
<!--      nav.classList.toggle("open");-->
<!--    });-->
<!--  }-->
<!--</script>-->
