---
import { Icon } from "astro-iconify";
const { title } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | Ten miles Elverdinge</title>
    <link rel="icon" href="/favicon.ico?v" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;600"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <a href="/" class={currentPath === "" ? "active" : ""}> Home</a>
      <a href="/info" class={currentPath === "info" ? "active" : ""}>Info</a>
      <button>
        <Icon id="mobile-toggle" pack="codicon" name="three-bars" />
      </button>
      <a href="/tickets" class={currentPath === "tickets" ? "active" : ""}
        >Tickets</a
      >
      <!--<a href="#">Parkoers</a>-->
      <!--<a href="#">Sponsors</a>-->
    </nav>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary: #b7f4d8;
    --primary-hover: #dbf6ec;
    --primary-border: #75eab4;
    --light-primary: rgba(183, 244, 216, 0.05);
    --secondary: #c5eff7;
    --secondary-hover: #ffffff;
    --secondary-border: #82dcee;
    --danger: #f92d51;
    --danger-hover: #fb778f;
    --danger-border: #d3062a;
    --warning: #f7ca18;
    --warning-hover: #fadb62;
    --warning-border: #bc9707;
    --yellow: #fef160;
    --yellow-hover: #fef8ac;
    --yellow-border: #feea14;
    --violet: #aea8d3;
    --violet-hover: #dddbed;
    --violet-border: #7f75b9;
    --success: #c8f7c5;
    --success-hover: #e0ffdb;
    --success-border: #88ee82;
    --dark: #333333;
    --dark-hover: #595959;
    --dark-border: #0d0d0d;
    --trans-dark: #3333333f;
    --white: white;
    --grey: #efeff0;
    --grey-hover: #fafafa;
    --grey-border: #e4e4e6;
    --unit: 1rem;
    --unit-2: 2rem;
    --unit-3: 3rem;
    --unit-4: 4rem;
    --container: 1024px;
    --heading-font: "Barlow", sans-serif;
    --font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
      Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --radius: 6px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--heading-font);
  }

  html,
  body {
    height: 100%;
    margin: 0;
    font-family: var(--font);
    line-height: 1.4;
  }

  body {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

  nav {
    background-color: var(--dark);
  }

  nav > a {
    display: none;
    height: var(--unit-4);
    line-height: var(--unit-4);
    font-size: var(--unit-2);
    font-family: var(--heading-font);
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    padding: 0 var(--unit);
    transition: background-color 200ms, width 200ms;
  }

  nav > a:hover {
    background-color: var(--primary);
  }

  nav > a:active {
    font-weight: bolder;
  }

  nav > a:first-child {
    display: inline-block;
  }

  nav > a.active {
    background-color: var(--primary);
  }

  nav.open > a {
    display: block;
  }

  nav > button {
    font-size: var(--unit);
    position: fixed;
    right: var(--unit);
    top: var(--unit);
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: var(--white);
    transition: color 400ms;
    cursor: pointer;
  }

  nav > button:hover {
    color: var(--primary);
  }

  nav > button:active {
    color: var(--primary-border);
  }

  nav.open > button:active {
    color: var(--dark);
  }

  nav button svg {
    display: inline-block;
    height: var(--unit-2);
    width: var(--unit-2);
  }

  @media screen and (min-width: 960px) {
    nav button {
      display: none;
    }

    nav {
      font-size: 0;
    }

    nav > a {
      display: inline-block;
    }
  }

  main {
    flex: 1;
    margin: 0 var(--unit);
    padding: var(--unit) 0;
    max-width: var(--container);
  }

  @media screen and (min-width: 960px) {
    main {
      margin: 0 auto;
    }
  }

  h1 {
    margin: 0;
  }

  /* Buttons */
  .btn,
  button {
    text-decoration: none;
    appearance: none;
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: var(--radius);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
      rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: var(--dark);
    cursor: pointer;
    display: inline-block;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }

  .btn:hover,
  button:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition-duration: 0.1s;
    transform: translateY(1px);
  }

  .btn:disabled,
  button:disabled,
  .btn.primary:disabled {
    background-color: #fafbfc;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959da5;
    cursor: not-allowed;
  }

  .btn:active,
  button:active {
    background-color: #edeff2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }

  .btn:focus,
  button:focus {
    outline: 1px transparent;
  }

  .btn:before,
  button:before {
    display: none;
  }

  .btn::-webkit-details-marker {
    display: none;
  }

  .btn.primary,
  button.primary {
    background-color: var(--primary);
    border-color: var(--primary-border);
    color: var(--white);
  }

  .btn.primary:hover,
  button.primary:hover,
  .btn.primary:focus,
  button.primary:focus {
    background-color: var(--primary-hover);
    color: var(--dark);
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading > div {
    display: inline-block;
    width: 80px;
    height: 80px;
  }

  .loading > div:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>
<script>
  const btn = document.querySelector("nav > button");
  const nav = document.querySelector("nav");
  btn.addEventListener("click", () => {
    nav.classList.toggle("open");
  });
</script>
